## Pandas Dataframe & Data Manipulations

In [1]:
import numpy as np
import pandas as pd
import random
import string

In [24]:
#Create a dictionary containing ....
scores_dict = {
    'id': [''.join(random.choices(
        string.ascii_uppercase + string.digits, k=5)
                 ) for _ in range(30)],
    'roll': np.arange(30) + 1,
    'math_scores': np.random.randint(100, size=(30)),
    'physics_scores': np.random.randint(100, size=(30)),
    'chemistry_scores': np.random.randint(100, size=(30))
}

print(scores_dict)

{'id': ['0E963', '1GZCU', 'EWN1D', 'BN9QK', '7AMY7', 'WURCB', 'P66XS', 'PAZX1', 'H8IHZ', '50SUE', 'T9RSU', 'DX1Z8', '0FXGH', '6PNRU', 'RAL6C', '21T7L', 'K1L6D', '4PKMM', '3NJIC', 'LZBD2', 'TKDQE', 'ZYWPY', '5ZUX9', 'QBDW0', 'V6OUR', 'ZS926', '71K1E', '85BJR', '9R430', '968AR'], 'roll': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]), 'math_scores': array([68,  9, 32, 63, 83, 86, 73, 83, 94, 76, 42, 57, 43, 71, 14, 18, 37,
       71,  5,  1, 81, 85, 86, 85, 94, 56, 90, 81, 69, 18]), 'physics_scores': array([23,  2, 88, 60, 36,  3, 65,  1,  5, 82, 32, 15, 99, 94, 95, 94, 98,
       60, 21, 66, 93, 85, 58, 25, 80, 14,  9, 94, 86, 59]), 'chemistry_scores': array([ 6, 16,  3, 50,  5,  8,  0, 14, 27, 64, 68, 22,  0, 74, 97, 10,  7,
       78,  0, 99, 52, 31, 76, 74, 88, 88, 51,  1, 49, 70])}

In [25]:
#creating Data frame
df=pd.DataFrame(scores_dict)
df.head()

      id  roll  math_scores  physics_scores  chemistry_scores
0  0E963     1           68              23                 6
1  1GZCU     2            9               2                16
2  EWN1D     3           32              88                 3
3  BN9QK     4           63              60                50
4  7AMY7     5           83              36                 5

In [26]:
df.set_index('id',inplace=True)###blahahah so need to assign to keep the changes !!
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0E963 to 968AR
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   roll              30 non-null     int64
 1   math_scores       30 non-null     int64
 2   physics_scores    30 non-null     int64
 3   chemistry_scores  30 non-null     int64
dtypes: int64(4)
memory usage: 1.2+ KB

In [27]:
#convert to 2d arrays
df.values

array([[ 1, 68, 23,  6],
       [ 2,  9,  2, 16],
       [ 3, 32, 88,  3],
       [ 4, 63, 60, 50],
       [ 5, 83, 36,  5],
       [ 6, 86,  3,  8],
       [ 7, 73, 65,  0],
       [ 8, 83,  1, 14],
       [ 9, 94,  5, 27],
       [10, 76, 82, 64],
       [11, 42, 32, 68],
       [12, 57, 15, 22],
       [13, 43, 99,  0],
       [14, 71, 94, 74],
       [15, 14, 95, 97],
       [16, 18, 94, 10],
       [17, 37, 98,  7],
       [18, 71, 60, 78],
       [19,  5, 21,  0],
       [20,  1, 66, 99],
       [21, 81, 93, 52],
       [22, 85, 85, 31],
       [23, 86, 58, 76],
       [24, 85, 25, 74],
       [25, 94, 80, 88],
       [26, 56, 14, 88],
       [27, 90,  9, 51],
       [28, 81, 94,  1],
       [29, 69, 86, 49],
       [30, 18, 59, 70]])

Indexes iloc,loc

In [28]:
df.iloc[1]

roll                 2
math_scores          9
physics_scores       2
chemistry_scores    16
Name: 1GZCU, dtype: int64

In [29]:
df.iloc[:5,-2:]#first 5 rows and last 2 columns

       physics_scores  chemistry_scores
id
0E963              23                 6
1GZCU               2                16
EWN1D              88                 3
BN9QK              60                50
7AMY7              36                 5

In [31]:
df.loc[:,'physics_scores']

id
0E963    23
1GZCU     2
EWN1D    88
BN9QK    60
7AMY7    36
WURCB     3
P66XS    65
PAZX1     1
H8IHZ     5
50SUE    82
T9RSU    32
DX1Z8    15
0FXGH    99
6PNRU    94
RAL6C    95
21T7L    94
K1L6D    98
4PKMM    60
3NJIC    21
LZBD2    66
TKDQE    93
ZYWPY    85
5ZUX9    58
QBDW0    25
V6OUR    80
ZS926    14
71K1E     9
85BJR    94
9R430    86
968AR    59
Name: physics_scores, dtype: int64

In [35]:
df.loc['P66XS','physics_scores']#differnet id is generated everytime you run so be careful

65

In [36]:
df.head()

       roll  math_scores  physics_scores  chemistry_scores
id
0E963     1           68              23                 6
1GZCU     2            9               2                16
EWN1D     3           32              88                 3
BN9QK     4           63              60                50
7AMY7     5           83              36                 5

In [38]:
print(df.iloc[:5,:])
#give me first rows for all the columns #index problems #same as df.head()

       roll  math_scores  physics_scores  chemistry_scores
id
0E963     1           68              23                 6
1GZCU     2            9               2                16
EWN1D     3           32              88                 3
BN9QK     4           63              60                50
7AMY7     5           83              36                 5

In [39]:
df.loc[:'P66XS','physics_scores':]
#Give me rows until this id and columns after physics_score#unlike indices labels are inclusive

       physics_scores  chemistry_scores
id
0E963              23                 6
1GZCU               2                16
EWN1D              88                 3
BN9QK              60                50
7AMY7              36                 5
WURCB               3                 8
P66XS              65                 0