In [1]:
class Dog:
    """blue print for a dog"""
    species=["canis lupus"]
   
    def __init__(self, name, color):
    
   
            self.name=name
            self.state="sleeping"
            self.color=color
    def command(self,x):
        if x==self.name:
            self.bark(3)
        elif x=="sit":
            self.state="sit"
        else :
            self.state="wag tail"
    def bark(self,freq):
        for i in range(freq):
            print("["+self.name+"]:Woof!")

In [2]:
chummy=Dog("chummy","blackish")
dummy=Dog("dummy","grayish")

In [3]:
chummy.bark(3)

[chummy]:Woof!
[chummy]:Woof!
[chummy]:Woof!

In [4]:
print(chummy.command("sit"))

None

In [5]:
dummy.bark(1)

[dummy]:Woof!

In [8]:
chummy.command("chummy")

[chummy]:Woof!
[chummy]:Woof!
[chummy]:Woof!

In [9]:
chummy.command("no baby no")

In [10]:
print(chummy.state)

wag tail

Class of Employees

In [6]:
class Employee:
    raise_amount=1.05
    total_emp_count=0
    def __init__(self,first,last,pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first+last+'@gmail.com'
        Employee.total_emp_count+=1
    def fullname(self):
        return "{} {}".format(self.first,self.last)
    
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)

In [7]:
emp_001=Employee('Corey','Booker',5000)
emp_002=Employee('Pramila','Jaypal',8000)

In [8]:
emp_001.email

'CoreyBooker@gmail.com'

In [9]:
emp_002.fullname()

'Pramila Jaypal'

In [ ]:
print(emp_001.raise_amount)

In [ ]:
print(Employee.__dict__)

In [10]:
Employee.raise_amount=1.07#applying clASS VARIABLE DIRECT TO CLASS CHANGES EVERYTHING

In [11]:
print(emp_001.__dict__)

{'first': 'Corey', 'last': 'Booker', 'pay': 5000, 'email': 'CoreyBooker@gmail.com'}

In [ ]:
print(emp_001.raise_amount)

In [ ]:
Employee.apply_raise(emp_002)

In [30]:
emp_001.apply_raise()#lets give emp_001 a raise of 7%

In [31]:
print(emp_001.pay)
print(emp_002.pay)#thats the raise baby

5500
8000

In [12]:
print(f'total number of employee is.{Employee.total_emp_count}')

total number of employee is.2

### Class method

In [13]:
class Employees:
    raise_amount=1.05
    total_emp_count=0
    def __init__(self,first,last,pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first+last+'@gmail.com'
        Employee.total_emp_count+=1
    def fullname(self):
        return "{} {}".format(self.first,self.last)
    
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
        
    @classmethod
    
    def set_raise_amt(cls,amount):
        cls.raise_amount=amount
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay=emp_str.split('-')
        return cls(first,last,pay)

In [14]:
emps_001=Employees('Corey','Booker',5000)
emps_002=Employees('Pramila','Jaypal',8000)

emp_str_001='laura-Inagrahm-9000'

In [15]:
new_emp_str=Employees.from_string(emp_str_001)

In [16]:
print(new_emp_str.email)
print(new_emp_str.fullname())
print(Employees.fullname(new_emp_str))
print(new_emp_str.pay)

lauraInagrahm@gmail.com
laura Inagrahm
laura Inagrahm
9000

In [62]:
Employees.set_raise_amt(1.25)##lets set commisision to 25%#using classmethod to set raise amount#don't find it 
#useful here similar to Employees.raise_amount=1.25

In [66]:
print(emps_002.pay)
print(Employees.raise_amount)

8000
1.25

lets apply raise

In [67]:
Employees.apply_raise(emps_001)

In [68]:
print(emps_001.pay)

6250

## Creating SubClasses

In [87]:
class Developer(Employees):
    pass

In [88]:
emp_007=Developer('Corey','Booker',5000)
emp_008=Developer('Pramila','Jaypal',8000)

In [89]:
print(emp_008.email)

PramilaJaypal@gmail.com

In [90]:
print(emp_007.pay)

5000